@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --canvas-default: 18 20 22;
    --canvas-primary: 37 43 50;
    --fg-default: 253 253 253;
    --fg-muted: 145 151 158;

    color-scheme: dark light;
  }
}
